body{
    background-color: black;
}

table{
    border-radius: 50px;
}

table, th, td {
    font-family: verdana;
    color: white;
    border: 2px solid;
    border-color: #2E8B57;
    border-collapse: collapse; 
    padding: 10px;
}

button{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(187, 17, 17);
    padding: 8px;
    cursor: pointer;
}

button:hover{
    transition: 1s;
    background-color: rgb(131, 5, 5);
}