<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="..\view\css\stylecatraca.css">
	<title>Academia</title>
</head>
<body>
	<div class="campo">
		<div class="cabecalho">
			<div class="centro">
				<div class="menu">
					<div class="opcao" id="option"><a href="../index.html">Voltar</a></div>
					<div class="opcao" id="option"><a href="">Menu</a></div>
					<div class="opcao" id="option"><a href="">Menu</a></div>
					<div class="opcao" id="option"><a href="">Menu</a></div>
				</div>
				<div class="logo">
					<img src="..\view\imagens\logo.png" width="150" height="100"> 
				</div>
			</div>
		</div>
		<div class="pagina">
			<div class="banner">
				<div class="central">
					<div class="gerenciamento">
						<div class="confirmacao">
							<h1>Confirmação de entrada na academia.</h1>
							<form method="POST" action="..\controller\validarMatricula.php">
								<fieldset>
									<legend>Conta</legend>
									<div align="centerconfirmacao">
										<p>Username: <input type="text" name="username"></p>
									</div>
									<div align="centerconfirmacao">
										<p>Senha: <input type="password" name="senha"></p>
									</div>
								</fieldset>
								<div class="Conferir" align="right">
								<input type="submit" name="confirmar" value="Conferir">
							</div>
							</form>
						</div>
						<div class="liberacao">
							<h1>Acesso a Catraca...</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rodape">
			<div class="rodapecenter">
				<div class="rodapeprimeiro">
					<div class="rodapecima"></div>
					<div class="rodapebaixo">
						<a href="" id="optionrodape"><p>Conheça nossas unidades</p></a>
						<a href="" id="optionrodape"><p>Comunicar erro</p></a>
					</div>
				</div>
				<div class="rodapesegundo">
					<div class="rodapecima">
						<div class="social"><a href=""><img src="..\view\imagens\facebook.png"></a></div>
						<div class="social"><a href=""><img src="..\view\imagens\youtube.png"></a></div>
						<div class="social"><a href=""><img src="..\view\imagens\instagram.png"></a></div>
						<div class="social"><a href=""><img src="..\view\imagens\twiter.png"></a></div>
						<div class="social"><a href=""><img src="..\view\imagens\whatsapp.png"></a></div>
					</div>
					<div class="rodapebaixo">
						<a href="" id="optionrodape"><p>Contatos@gmail.com</p></a>
						<a href="" id="optionrodape"><p>Contatos123@yahoo.com.br</p></a>
						<a href="" id="optionrodape"><p>Contato@hotmail.com</p></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>