<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Comprovante</title>
</head>
<body>
    <form action="..\controller\gerarComprovante.php" method="post">
        <fieldset>
            Username:<input type="text" name="username">
            Senha:<input type="password" name="senha"> 
            <input type="submit" name="confirmar" value="Emitir comprovante">
        </fieldset>
    </form>
</body>
</html>