<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="css/sobre.css">
</head>
<body>
    <body>
        <header class="logo">
            <img src="imagens\logo.png" width="150" height="100">
        </header>
        <header class="header">
            <ul>
                <li><a href="../view/homeAdmin.html">Inicio</li></a>
                <li><a href="">Perfil</li></a>
                <li><a href="../view/sobre.html">Sobre</a></li>
                <li><a href="../controller/logOutAdmin.php">Sair</li></a>
            </ul>
        </header>
        <div class="texto">
            <h1>Sobre</h1>
            <p>
                A grande demanda na busca no ramo de empresas que trabalham com a área de saúde e estética, e que,
                atualmente,
                tem ganhado espaço no mercado, e essa demanda faz com que a necessidade de gerenciar as informações
                decorrentes
                deste ramo seja cada vez maior.
                Consequentemente, com esse grande aumento na demanda, estes estabelecimentos necessitam de um
                gerenciamento
                adequado para garantir aos seus clientes maior retorno em relação ao investimento que lhe é aplicado. Os
                sistemas de informação são necessários para garantir ao usuário (ou empresários) a segurança e total
                controle
                das movimentações de suas organizações.
                Por isso, este estudo, alinhado com essas demandas propõe o desenvolvimento de um sistema que visa à
                criação de
                um software para gerenciamento de academias onde a supervisão e dedicação a cada aluno é constante, a
                fim de
                atingir esta fatia da população que está em constante crescimento.
                O projeto trata-se de um sistema que será desenvolvido para um problema de algumas academias, que não
                possuem um
                modo de matricula e faturamento de seu controle.
            </p>
        </div>
    </body>
    <div class="socialmedia">
        <ul>
            <a href="">
                <li><img src="imagens/facebook.png" alt=""></li>
            </a>
            <a href="">
                <li><img src="imagens/youtube.png" alt=""></li>
            </a>
            <a href="">
                <li><img src="imagens/instagram.png" alt=""></li>
            </a>
            <a href="">
                <li><img src="imagens/twiter.png" alt=""></li>
            </a>
            <a href="">
                <li><img src="imagens/whatsapp.png" alt=""></li>
            </a>
            <ul>
    </div>
    <footer class="rodape">
        <p>Contatos@gmail.com</p>
        <p>Contatos123@yahoo.com.br</p>
        <p>Contato@hotmail.com</p>
    </footer>
</body>
</html>